
body{
    background-color:black;
    color:white
    
}

#hero{
    display:flex;
    padding: 100 100 100 100;
}



#hero_text{
    text-align: center;
    max-width: 50%  
}
#hero_img{
    width: 50%;
}





#hero_text{
    padding:50px 50px 50px 50px ;
    max-width: 500px;
}
#problem_text{
    max-width: 700px;
    margin: 0 auto;
   
}

#what_here{
    text-align: center;

}
#what_prb_text{
    max-width: 700px;
    margin: 0 auto;
}


#search{
    text-align: center;
}
.button{
    padding: 15px 10px 50px 10px;  
}



.ls_button{ 
width: 150px; 
height: 50px;
font-size: 16px; 
}
#footer{
    height: 90px;
    padding: 50px;
}


body{
    font-family: DM SANS;
}